body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, Verdana, serif ;
	font-size: 10px;
	color: #eeeeee;
}

input {
	font-size: 12px;
	color: #000000;
	border: 1px solid #666666;
	vertical-align: middle;
	width: 180px;
}

input:focus {
	outline: 2px solid #0066cc;
	outline-offset: 2px;
}

input:invalid {
	border-color: #ff0033;
}

.errorText {
	font-size: 11px; color: #ff0033;
}

.btnClass {
	border:0; color: #000033; 
	cursor: pointer; width: 83px; height: 18px; 
	background: url('../images/button.png');
	font-size: 11px;
}

.btnClassSmall {
	border:0; color: #000033; 
	cursor: pointer; width: 63px; height: 18px; 
	background: url('../images/button_small.png');
	font-size: 11px;
}

.logo { position:absolute; left:80px; top:60px; z-index:1; }
.usernameLabel { position:absolute; left:305px; top:140px; z-index:1; }
.username { position:absolute; left:305px; top:153px; z-index:1; }
.passwordLabel { position:absolute; left:305px; top:175px; z-index:1; }
.password { position:absolute; left:305px; top:188px; z-index:1; }
.buttonPanel { position:absolute; left:370px; top:215px; z-index:1; text-align:center; width:147px; }
.useTestWallet { position:absolute; left:305px; top:215px; z-index:1; text-align:right; white-space: nowrap; }

.copyright {
	font-size: 9px; color: #eeeeee;
	position:absolute; left:100px; top:340px; z-index:1;
}
.language {
	position:absolute; left:88px; top:35px; z-index:2;
}
.list {
	color: #333333;
	border: 1px solid #cccccc;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-color: #eeeeee;
}
.version {
	font-size: 9px; color: #bbbbbb;
	position:absolute; left:400px; top:340px; z-index:2;
	text-align: right;
	white-space: nowrap;
	width: 120px;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.msg { position:absolute; left:100px; top:365px; z-index:1; }
.passwordMsg { position:absolute; left:360px; top:150px; z-index:1; }
.spacer { width: 1px; }
.red { color: red; }

/* Screen reader only class for accessibility */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
